<launch>
	<rosparam command="load" file="$(find diff_kin_controller)/config/params.yaml" />
	
	<node name="controller_node" pkg="diff_kin_controller" type="ArmController.py"
			args="$(find kuka_iiwa_description)/urdf/iiwa_gripper.urdf" output="screen" />

	<node name="main_node" pkg="diff_kin_controller" type="pick_and_place.py" output="screen" />
</launch>
